* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
}

body {
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background: var(--clr-color-background);
}

.container {
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}

h2 {
    font-size: 1.4rem;
    color: var(--clr-primary);
}

.profile_photo img {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/* ASIDE */
aside {
    height: 100vh;
}

aside .top {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}

aside .top .close span {
    display: none;
}

aside .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* SIDEBAR */
aside .sidebar {
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 1rem;
}

aside .sidebar a {
    display: flex;
    color: var(--clr-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition: all 0.1s ease-in;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.1s ease-in;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

aside .sidebar a.active {
    background: var(--clr-light);
    color: var(--clr-primary);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 100%;
    background-color: var(--clr-primary);
}

aside .sidebar a:hover {
    color: var(--clr-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
    transition: .4s ease;
}

aside .sidebar a span.msg_count {
    background: var(--clr-danger);
    color: var(--clr-white);
    padding: 2px 5px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ========================= */
/* MAIN */
/* ========================= */

main {
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    color: var(--clr-dark);
}

.auto_toggle {
    display: flex;
    width: 12rem;
    align-items: center;
    gap: 0.8rem;

    padding: 0.8rem 1.2rem;

    background: var(--clr-white);

    border-radius: var(--border-radius-2);

    box-shadow: var(--box-shadow);

    cursor: pointer;
}

.auto_toggle svg {
    font-size: 2rem;
    color: var(--clr-primary);
}

.auto_toggle span {
    color: var(--clr-dark);
    font-weight: 600;
}

.sub_nav {
    display: flex;
    gap: 1rem;

    margin-top: 2rem;
}

.sub_nav button {
    padding: 1rem 1.5rem;

    border-radius: var(--border-radius-2);

    background: var(--clr-white);

    color: var(--clr-dark);

    box-shadow: var(--box-shadow);

    cursor: pointer;

    transition: 0.3s;
}

.sub_nav button.active {
    background: var(--clr-primary);
    color: white;
}

.booking_container {
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.booking_card {
    background: var(--clr-white);

    border-radius: var(--card-border-radius);

    box-shadow: var(--box-shadow);

    overflow: hidden;
}

.booking_top {
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.booking_info h2 {
    color: var(--clr-dark);
    margin-bottom: 1rem;
}

.booking_info p {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    color: var(--clr-info-dark);

    margin-top: 0.4rem;
}

.expand_icon svg {
    font-size: 2rem;
    color: var(--clr-primary);
}

.detail_container {
    border-top: 1px solid var(--clr-info-light);

    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1.5rem;
}

.detail_item {
    display: flex;
    gap: 1rem;
}

.detail_item svg {
    font-size: 1.8rem;
    color: var(--clr-primary);
}

.detail_item h4 {
    color: var(--clr-dark);
}

.detail_item p {
    color: var(--clr-info-dark);
    margin-top: 0.4rem;
}

.detail_item span {
    color: var(--clr-dark);
    font-size: 1rem;
    font-weight: 600;
}

.total_box {
    grid-column: 1 / 3;

    display: flex;
    justify-content: space-between;

    padding: 1.2rem;

    background: var(--clr-light);

    border-radius: var(--border-radius-2);

    font-size: 1.2rem;
    font-weight: bold;

    color: var(--clr-dark);
}

.total_box span {
    color: var(--clr-primary);
}

.action_buttons {
    grid-column: 1 / 3;

    display: flex;
    gap: 1rem;
}

.confirm_btn,
.cancel_btn {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

    padding: 1rem;

    border-radius: var(--border-radius-2);

    color: white;

    font-size: 1rem;

    cursor: pointer;
}

.confirm_btn {
    background: var(--clr-success);
}

.cancel_btn {
    background: var(--clr-danger);
}

/* ========================= */
/* RIGHT */
/* ========================= */

.right {
    margin-top: 1.4rem;
}

.right h2 {
    color: var(--clr-dark);
}

.right .top {
    display: flex;
    justify-content: start;
    gap: 2rem;
}

.right .top button {
    display: none;
}

.right .theme_toggler {
    background-color: var(--clr-white);
    display: flex;
    justify-content: space-between;
    width: 4.2rem;
    height: 1.6rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme_toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
    transition: all 0.3s ease;
}

.right .theme_toggler span.active {
    background-color: var(--clr-primary);
    color: #fff;
}

.right .top .profile {
    display: flex;
    gap: 2rem;
    text-align: center;
}

.right .info h3 {
    color: var(--clr-dark);
}

.right .item h3 {
    color: var(--clr-dark);
}

.right .info_item p {
    color: var(--clr-dark);
}

.right_card {
    margin-top: 1rem;
    background: var(--clr-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);

    transition: all 0.3s ease;
}

.right_card:hover {
    transform: translateY(-5px);
}

.info_item {
    margin-top: 1.4rem;
}

/* ASIDE */
aside {
    height: 100vh;
    position: sticky;
    top: 0;
}

/* RIGHT PANEL */
.right {
    margin-top: 1.4rem;

    position: sticky;
    top: 1.4rem;

    height: fit-content;
}

/* ********************************* */
/* MEDIA QUERY */
/* ********************************* */
@media screen and (max-width: 1200px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 14rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ********************************* */
/* MEDIA QUERY FOR MOBILE */
/* ********************************* */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }

    aside {
        position: fixed;
        width: 18rem;
        z-index: 3;
        background: var(--clr-white);
        display: block;
        left: -100px;
        animation: menuAni 1s forwards;

        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .open {
        transform: translateX(0);
    }

    @keyframes menuAni {
        to{
            left: 0;
        }
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .top div.close span{
        display: inline;
        position: absolute;
        right: 0;
        margin-right: 30px;
        font-size: 35px;
    }

    .right .top {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.8rem;
        background: var(--clr-white);
        width: 100%;
        height: 4.6rem;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--box-shadow);
        margin: 0;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.6rem;
        padding: 40px;
    }

    main .recent_order {
        padding: 30px;
        margin: 0 auto;
    }

    .right .profile {
        position: absolute;
        left: 70%;
    }

    .right .recent_updates {
        padding: 30px;
    }

    .right .sales_analytics {
        padding: 30px;
    }

    .add_products {
        padding: 30px;
    }

    .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--clr-dark);
        position: absolute;
        left: 1rem;
    }

}