body {
  margin: 0;
  font-family: Arial;
  background: #eee;
}

/* BANNER */
.banner {
  position: relative;
  height: 650px;

  background-size: cover;
  background-position: center;

  transition: all .7s ease;
}

.overlay {
  position: absolute;
  inset: 0;

  background:
    linear-gradient(to right,
      rgba(0, 0, 0, .85),
      rgba(0, 0, 0, .4));
}

.bannerContent {
  position: absolute;

  top: 50%;
  left: 8%;

  transform: translateY(-50%);

  color: white;

  z-index: 2;

  max-width: 600px;
}

.bannerContent h1 {
  font-size: 60px;
  margin-bottom: 15px;
}

.bannerContent p {
  font-size: 18px;
  line-height: 1.6;
}

.bannerBtns {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.bookBtn {
  background: #e50914;
  color: white;

  border: none;

  padding: 14px 28px;

  border-radius: 8px;

  cursor: pointer;
}

.metaInfo {
  display: flex;
  align-items: center;
  gap: 30px;
  /* khoảng cách giữa 2 span */

  margin-top: 20px;
  margin-bottom: 25px;
}

.metaInfo span {
  padding: 10px 18px;

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);

  border-radius: 30px;

  font-size: 18px;
  font-weight: 600;
}

.prev,
.next {

  position: absolute;

  top: 50%;

  transform: translateY(-50%);

  z-index: 5;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  border: none;

  cursor: pointer;

  background:
    rgba(255, 255, 255, .2);

  color: white;

  font-size: 22px;
}

.prev {
  left: 25px;
}

.next {
  right: 25px;
}

.dots {
  position: absolute;
  bottom: 120px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 12px;
  z-index: 10;
}

.dots span {

  width: 12px;
  height: 12px;

  border-radius: 50%;

  background: rgba(255, 255, 255, .5);

}

.activeDot {
  background: white !important;

  transform: scale(1.3);
}

.bannerThumbs {

  position: absolute;

  bottom: 15px;
  right: 50px;

  display: flex;
  gap: 12px;

  z-index: 10;
}

.bannerThumbs img {

  width: 130px;
  height: 75px;

  object-fit: cover;

  border-radius: 10px;

  cursor: pointer;

  opacity: .6;

  transition: .3s;
}

.bannerThumbs img:hover {

  opacity: 1;
}

.activeThumb {

  opacity: 1 !important;

  border: 3px solid white;
}

/* HEADER nằm đè lên */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  color: white;
}

/* SEARCH OVERLAY */
.search_overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.92);

  z-index: 999;

  opacity: 0;
  visibility: hidden;

  transition: all 0.3s ease;

  padding-top: 120px;
}

.show_search {
  opacity: 1;
  visibility: visible;
}

.search_box {
  width: 60%;
  margin: auto;

  display: flex;
  align-items: center;

  background: white;

  border-radius: 50px;

  overflow: hidden;
}

.search_box input {
  flex: 1;

  padding: 18px 25px;

  border: none;
  outline: none;

  font-size: 18px;
}

.search_box button {
  width: 70px;
  height: 60px;

  background: #e53935;
  color: white;

  border: none;

  cursor: pointer;

  font-size: 20px;
}

.close_search {
  position: absolute;

  top: 40px;
  right: 60px;

  color: white;

  font-size: 35px;

  cursor: pointer;
}

/* RESULT */
.search_result {
  width: 60%;
  margin: 30px auto;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.result_item {
  display: flex;
  align-items: center;
  gap: 20px;

  background: rgba(255, 255, 255, 0.08);

  padding: 15px;

  border-radius: 15px;

  transition: all 0.3s ease;

  cursor: pointer;
}

.result_item:hover {
  transform: translateX(10px);

  background: rgba(255, 255, 255, 0.15);
}

.result_item img {
  width: 90px;
  height: 120px;

  object-fit: cover;

  border-radius: 10px;
}

.result_item h4 {
  color: white;
  margin-bottom: 8px;
}

.result_item p {
  color: #ccc;
}

/* MENU */
.menu {
  font-size: 24px;
  cursor: pointer;
  margin-left: 100px;
}

/* LOGO giữa */
.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-left: 160px;
}

/* ICONS bên phải */
.icons {
  margin-right: 85px;
}

.icons span {
  margin-right: 15px;
  cursor: pointer;
}

.icons .login_link a {
  color: white;
}

/* CONTENT */
.content_container {
  background: white;
  min-height: 100vh;
}

.card {
  margin: auto;
  padding: 0px 100px;
}

/* CONTENT HEADER */
.info_header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 20px 0px;
}

.info_header h1 {
  font-size: 42px;
}

.info_header span {
  color: gray;
  font-size: 28px;
}

.info_header p {
  font-size: 18px;
}

.genre {
  color: gray;
  margin-top: 5px;
}

.stars {
  color: orange;
  margin-top: 5px;
}

.info {
  font-size: 14px;
}

/* CONTENT */
.content {
  display: flex;
  gap: 50px;
  align-items: flex-start;
  margin: 60px 0px;
}

/* LEFT */
.left {
  flex: 2;
  min-width: 300px;
  display: flex;
  gap: 20px;
}

.left img {
  width: 30%;
  max-width: 280px;
  min-width: 220px;
  height: 420px;
  object-fit: cover;
  border-radius: 12px;
}

.descrip {
  margin-top: 15px;
  text-align: left;
}

.meta {
  margin-top: 10px;
  font-size: 18px;
}

.meta p {
  margin-bottom: 10px;
}

.plot {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  font-size: 18px;
}

/* RIGHT */
.right {
  flex: 1;
  min-width: 300px;
}

.right .info_menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-size: 18px;
}

.menu_item {
  text-align: center;
}

.circle {
  background: red;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.circle img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.trailer {
  margin-top: 20px;
  text-align: left;
}

.video {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.video img {
  width: 100%;
  height: 260px;
  object-fit: cover;

  transition: transform 0.4s ease;
}

.video:hover img {
  transform: scale(1.05);
}

.playButton {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 70px;
  height: 70px;

  border-radius: 50%;

  background: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 28px;

  transition: all 0.3s ease;
}

.video:hover .playButton {
  transform: translate(-50%, -50%) scale(1.15);

  background: rgba(255, 0, 0, 0.8);
}

/* RELATED */
.related {
  height: auto;
  background: #e53935;
  color: white;
  padding: 30px;
}

.re_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0px 60px;
  font-size: 20px;
  text-align: center;
}

.re_title_text {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  color: #fff;
}

.line {
  width: 30%;
  height: 6px;
  background: white;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 24px;
}

.re_card {
  width: 100%;
  cursor: pointer;
  text-align: center;
}

.poster {
  width: 100%;
  height: 320px;
  overflow: hidden;
  border-radius: 12px;
}

.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.re_card:hover .poster img {
  transform: scale(1.05);
}

.re_card p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  overflow: hidden;
  min-height: 48px;
}

.re_card span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
}

/* FOOTER */
.footer {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.footer_container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 40px 20px;
}

/* Columns */
.footer_col h2.logo {
  font-weight: bold;
  letter-spacing: 3px;
}

.footer_col h2.logo {
  background: black;
  color: white;
  padding: 0 5px;
}

.footer_col h3 {
  margin-bottom: 15px;
}

.footer_col p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

.email {
  text-decoration: underline;
  cursor: pointer;
}

/* Social */
.socials span {
  margin-right: 10px;
  font-size: 18px;
  cursor: pointer;
}

/* Newsletter */
.footer_col input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  background: #eaeaea;
}

.footer_col button {
  width: 100%;
  padding: 10px;
  background: #e53935;
  color: white;
  border: none;
  cursor: pointer;
}

/* Quote */
.quote {
  font-style: italic;
  color: #777;
}

.author {
  margin-top: 10px;
  font-weight: bold;
}

.movie {
  font-weight: bold;
}

/* Menu */
.menu_top {
  display: flex;
  gap: 20px;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.menu_links {
  display: flex;
  justify-content: space-between;
}

.menu_links p {
  cursor: pointer;
}

/* Bottom bar */
.footer_bottom {
  background: #e53935;
  color: white;
  text-align: right;
  padding: 10px 20px;
  font-size: 14px;
}