body {
  margin: 0;
  font-family: Arial;
  background: #eee;
}

/* BANNER */
.banner {
    position: relative;
    height: 450px;
    background: url("https://i.pinimg.com/1200x/ed/61/39/ed6139d2f7820899389db0cb4381a42b.jpg")
        center/cover;
}

/* HEADER nằm đè lên */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 0px;
  color: white;
}

/* MENU */
.menu {
  font-size: 24px;
  cursor: pointer;
  margin-left: 100px;
}

/* LOGO giữa */
.logo {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-left: 60px;
}

/* ICONS bên phải */
.icons {
  margin-right: 85px;
}

.icons span {
  margin-right: 15px;
  cursor: pointer;
}

/* CONTENT */
.container {
  background: white;
  min-height: 100vh;
}

.card {
  margin: auto;
  padding: 0px 100px;
}

/* CONTENT HEADER */
.info-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 20px 0px;
}

.info-header h1 {
  font-size: 42px;
}

.info-header span{
  color: gray;
  font-size: 28px;
}

.info-header p {
  font-size: 18px;
}

.genre {
  color: gray;
  margin-top: 5px;
}

.stars {
  color: orange;
  margin-top: 5px;
}

.info {
  font-size: 14px;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  margin: 60px 0px;
}

/* LEFT */
.left {
  display: flex;
  gap: 20px;
}

.left img {
  width: 50%;
  border-radius: 5px;
}

.descrip {
  margin-top: 15px;
  text-align: left;
}

.meta {
  margin-top: 10px;
  font-size: 18px;
}

.meta p {
  margin-bottom: 10px;
}

.plot {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
}

.btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: black;
  color: white;
  border: none;
  font-size: 18px;
}

/* RIGHT */
.right .info_menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  font-size: 18px;
}

.menu-item {
  text-align: center;
}

.circle {
  background: red;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.circle img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.trailer {
  margin-top: 20px;
  text-align: left;
}

.video {
  position: relative;
}

.video img {
  width: 100%;
  border-radius: 5px;
}

/* RELATED */
.related {
  background: #e53935;
  color: white;
  padding: 30px;
}

.list {
  display: flex;
  gap: 20px;
}

.card {
  text-align: center;
}

.poster {
  width: 120px;
  height: 160px;
  background: white;
}

.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}